@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  .matero-sidebar-header {
    color: #fff;
    background: #503E9D;
    border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
  }

  .matero-user-panel {
    border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
  }
}
