@import "fonts/fontface.css";

:root {
    --main-bg-color: #503E9D;
    --font-primary: 'CircularStd';
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-primary);
}

.dashboard {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.7fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar nav nav nav"
        "sidebar main main main";
}

.navbar {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.03);
    grid-area: nav;
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

.navbar__left input[type=text] {
    width: 100%;
    padding: 12px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 0px;
    box-sizing: border-box;
}

.navbar__left input[type=text]::-webkit-input-placeholder {
    color: #5769B1;
    font-size: 18px;
}

.navbar__left .search {
    position: relative;
}

.navbar__left .search img {
    position: absolute;
    left: 15px;
    top: 22px;
    color: #5769B1;
    height: 19px;
    width: 19px;
    border-radius: 0px;


}

.main {
    grid-area: main;
    overflow-y: auto;

}

.main__container {
    padding: 20px 50px;
}

#sidebar {
    background: var(--main-bg-color);
    grid-area: sidebar;
    overflow-y: auto;
    
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.sidebar__logo {
    text-align: center;
    padding-top: 40px;
}

.sidebar__menu {
    padding-top: 60px;
}

.sidebar__link {
    color: #fff;
    padding: 30px 15px 30px 35px;
    display: flex;
    gap: 16px;
}

 .hr_menu_link{
    border: 2px solid #6859AC !important;
    width: 261px !important;
    margin: 20px auto 40px auto;
}
.active_menu_link {
    background: rgba(87, 105, 177, 0.5);
    backdrop-filter: blur(70px);
width: 100%;

}

.sidebar__link a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.sidebar__link a:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}


/* Media Queries */
 @media screen and (max-width: 991px){
    .dashboard {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows:0.3fr 1fr 1fr;
        grid-template-areas:
            "nav nav nav nav"
            "main main main main"
            "sidbar sidebar sidebar sidebar";
    }
 }

 .jrb {
     padding-top: 150px;
     padding-bottom: 200px;
 }
