

:root {
  --main-bg-color: #503E9D;
  --font-primary: Circular Std;
}

.page {
  display: flex;
  background: hsl(0deg 0% 95% / 1);
}

/*
@media (width< 800px) {
  #sidebar {
    display: none;
  }
  .page {
     display: block;
   }
}
*/

.page .contenu {
  flex-grow: 1;
}

.contenu {
  padding: 10px;
}

.box {
  border-radius: 10px;
  box-shadow: 0 0 10px #bfbfbffc;
}

.summuray-titre{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

.repot-compelet-box {
  display: flex;
  flex-wrap: wrap;
}

.repot-compelet-box > * {
  flex-grow: 1;
}

.repot-compelet-box .repot-compelet{
  position: relative;
  flex-basis: 80%;
  padding: 10px 10px 10px 20px;
}

.repot-compelet-box {
  flex-basis: 40%;
  min-width: 200px;
}

.repot-compelet > i {
  position: absolute;
  top: 10px;
  right: 10px;
}

.repot-compelet-text{
  font-size: 25px;
  color: red;
}

.buttons img {
  width: 150px;
}

@media (width < 990px) {
  .buttons {
    display: flex;
    text-align: center;
  }
}

.upgrade-rectangle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 15px;
  color: #fff;
  background: #503E9D;
}

.upgrade-button {
  padding: 5px 20px;
  background: #fff;
  border: none;
  border-radius: 20px;
}

.amazon-products-titre{
  margin-top: 10px;
  font-size: 30px;
}

.space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 10px;
  font-size: 20px;
  font-weight: 500;
}


.space-between span {
  color: #788089;
}

.space-between span.active {
  color: #34a853;
}

.space-between span.purple {
  color: #503E9D;
}

.input span {
  margin-right: 10px;
}

.table-container-h {
  max-width: calc(100vw - 160px);
  overflow-x: auto;
  overflow-y: hidden;
}

.table-container-h table {
  min-width: 600px;
}

table tr td {
  text-align: center;
  vertical-align: middle;
}

table tr td span{
  padding: 4px 10px;
  font-size: 14px;
  color: white;
  border-radius: 20px

}

table tr td.red span{
  background: red;
}

table tr td.gray span{
  background: gray;
}

table tr td.green span{
  background: green;
}

table tr td.blue span{
  background: darkblue;
}

.statistics, .statistics > div > div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.statistics > div {
  flex-grow: 1;
}

.statistics .box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: white;
}

.statistics .box .number {
  font-size: 20px;
  font-weight: 500;
}

.links-table-container {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.links-table-container table td {
  padding: 5px 10px;
}
