<div class="page">

  <div class="header">
    <div>
      <img src="assets/playground_assets2/logowhite1920x813632-afko-200h.png" class="slinker-icon">
      Slinker
    </div>
    <div>
      <i class="fa fa-user"></i>
      <span>3</span>
    </div>
  </div>

  <div class="top-half">
    <h1 class="titre">Enter Your website</h1>
    <p class="sous-titre">Welcome to Slinker !</p>
    <div class="zone-de-saisie">
      <input class="input-insert" placeholder="Enter your domain to check affiliate’s links">
      <button class="button-insert" routerLink="../summary">Analyse</button>
    </div>
  </div>

  <div class="bottom-half">
    <button class="update-button" routerLink="../pricing">Upgrade Plan</button>
  </div>

</div>
