<style>
  @media screen and (min-width: 576px) {
    .navbar{
      display: none;
    }
  }
</style>

<div class="wrapper">
  <div class="container">
    <nav class="navbar navbar-dark   fixed-bottom">

      <ul class="nav">

        <li class="nav-item active">
          <img class="filter" src="/assets/footer-icons/img1.svg" alt="">
        </li>

        <li class="nav-item">
          <img class="filter" src="/assets/footer-icons/img2.svg" alt="">
        </li>

        <li class="nav-item">
          <img class="filter" src="/assets/footer-icons/img3.png" alt="" srcset="">
        </li>

        <li class="nav-item">
          <img class="filter" src="/assets/footer-icons/img4.svg" alt="" srcset="">
        </li>

        <li class="nav-item">
          <img class="filter" src="/assets/footer-icons/img5.svg" alt="" srcset="">
        </li>

      </ul>
    </nav>
  </div>
</div>
